
<div class="bg-img2 relative">
    <div class="">
      <div class="text-center absolute text-white w-full pstn">
        <h1 class="md:text-7xl font-bold text-2xl leading-normal">About Us</h1>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Home/</a>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">About Us</a>
        
      </div>
    </div>
  </div>

  <div class="container mx-auto mt-14">
    <div class="flex flex-col md:flex-row justify-between">
      <div class="">
        <div class="flex flex-col md:flex-row md:space-x-2  w-full md:1/4 md:px-2">
          <img src="assets/img/room1.webp " class="md:w-1/2 mb-2  ">
          <img src="assets/img/room2.webp" class="md:w-1/2 ">
        </div>
        <div class="mt-2 w-full">
          <img src="assets/img/room3.webp" class="">
        </div>
      </div>
      <div class="md:w-3/4 w-full  leading-normal mt-10 md:pl-12">
        <h1 class="md:text-5xl text-2xl md:text-left font-bold md:mb-12 mb-2 p-2">Welcome<br> to our residence</h1>
        <p class="text-gray-500 p-2 text-sm">Beginning blessed second a creepeth. Darkness wherein fish years good air whose after
          seed appear midst evenin, appear void give third bearing divide one so blessed moved firmament gathered
  
          Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin,
          appear void give third bearing divide one so blessed</p>
        <button
          class="md:mt-12 mt-2 hover:bg-white bg-[rgb(204,167,114)]  text-black-500 font-semibold hover:text-black py-2 px-6 border border-[rgb(204,167,114)] hover:border-[rgb(204,167,114)] rounded">Learn
          More</button>
      </div>
    </div>
  
   
  
  </div>

  
<div>
    <video class="w-full mt-20 h-90" controls>
      <source src="https://www.youtube.com/watch?v=n3gGxEReer8" type="video/mp4">
      <source src="https://www.youtube.com/watch?v=n3gGxEReer8" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>

 
  

