
<div class="bg-img2 relative">
    <div class="">
      <div class="text-center absolute text-white w-full pstn">
        <h1 class="md:text-7xl font-bold text-2xl leading-normal">Accommodation</h1>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Home/</a>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Properties</a>
        
      </div>
    </div>
  </div>
  <div  class="bg-white shadow-xl relative top-0 mgn md:mb-5 md:p-14 md:w-full container mx-auto">
    <form>
      <div class="py-3 px-3 flex flex-col md:flex-row md:space-x-6  w-full md:justify-between">
        <div class="w-full md:w-2/4">
          <input
            class="placeholder:text-black  text-gray-700 border w-full rounded py-3 px-3 mb-3 leading-normal focus:outline-none focus:bg-white"
            id="grid-first-name" type="email" placeholder="Enter email">
  
        </div>
        <div class="w-full md:w-2/4">
          <select
            class=" appearance-none w-full  border border-gray-200 text-gray-700 py-3 px-3 mb-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"
            id="grid-state">
            <option>Arrival</option>
            <option>8AM</option>
            <option>12Am</option>
          </select>
        </div>
  
        <div class="md:w-2/4 w-full">
          <select
            class=" appearance-none w-full  border  text-gray-700 py-3 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"
            id="grid-state">
            <option>Number of rooms</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="py-3 px-3 flex md:flex-row flex-col md:space-x-6 w-full items-left justify-between">
        <div class="md:w-1/4  w-full">
          <select
            class=" appearance-none w-full  border text-gray-700 py-3 mb-3 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"
            id="grid-state">
            <option>Departure</option>
            <option>8AM</option>
            <option>12Am</option>
          </select>
        </div>
        <div class="md:w-1/4 w-full">
          <select
            class=" appearance-none w-full  border  text-gray-700 py-3 px-3 mb-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"
            id="grid-state">
            <option>Adult</option>
            <option>Missouri</option>
            <option>Texas</option>
          </select>
        </div>
        <div class="md:w-1/4  w-full">
          <select
            class=" appearance-none w-full  border border-gray-200 text-gray-700 py-3 mb-3 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"
            id="grid-state">
            <option>Child</option>
            <option>Missouri</option>
            <option>Texas</option>
          </select>
        </div>
        <button
          class=" md:w-1/4 w-full hover:bg-white bg-[rgb(204,167,114)] text-black-500 font-semibold hover:text-black  border border-[rgb(204,167,114)] hover:border-[rgb(204,167,114)] rounded">Check
          Availability</button>
      </div>
  
  
  
  
    </form> 
  </div>

  
  <div class="container mx-auto">
    <div class=" md:mt-20 mt-12">
      <img src="assets/img/download (1).webp" class="flex justify-center mx-auto">
      <h1 class="md:text-5xl text-2xl font-bold flex justify-center md:mb-20 mb-12">Explore our Room</h1>
    </div>
    <div class="">
      <div class="flex flex-col md:flex-row md:space-x-4">
        <div class=" md:w-2/6 w-full bg-white shadow-2xl">
          <div class="explore1"></div>
          <div class="text-left p-4">
            <h1 class="font-semibold text-slate-600"><span class="text-2xl">$150.00 /</span> Per Night</h1>
            <h1 class="font-bold text-2xl leading-normal mb-4  hover:text-[rgb(204,167,114)]">Classic Bed Room</h1>
            <p class="text-slate-600 text-sm">Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed</p>
            <a href="#">
              <p class="mt-4 hover:text-[rgb(204,167,114)] font-semibold">BOOK NOW <span class="">&rarr;</span></p>
            </a>
          </div>
        </div>
        <div class=" md:w-2/6 w-full  bg-white shadow-2xl ">
          <div class="explore2"></div>
          <div class="text-left p-4">
            <h1 class="font-semibold text-slate-600"><span class="text-2xl">$150.00 /</span> Per Night</h1>
            <h1 class="font-bold text-2xl leading-normal mb-4  hover:text-[rgb(204,167,114)]">Premium Room</h1>
            <p class="text-slate-600 text-sm">Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed</p>
            <a href="#">
              <p class="mt-4 hover:text-[rgb(204,167,114)] font-semibold">BOOK NOW <span class="">&rarr;</span></p>
            </a>
          </div>

        </div>
        <div class=" md:w-2/6 w-full bg-white shadow-2xl">
          <div class="explore3"></div>
          <div class="text-left p-4">
            <h1 class="font-semibold text-slate-600"><span class="text-2xl">$190.00 /</span> Per Night</h1>
            <h1 class="font-bold text-2xl leading-normal mb-4 hover:text-[rgb(204,167,114)]">Family Room</h1>
            <p class="text-slate-600 text-sm">Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed</p>
            <a href="#">
              <p class="mt-4 hover:text-[rgb(204,167,114)] font-semibold">BOOK NOW <span class="">&rarr;</span></p>
            </a>
          </div>

        </div>


      </div>
    </div>
  </div>



  
