.anim{
    animation-name: example;
    /* transition: 4s all; */
    animation-duration:2s;
    transform: translateX(0)
  }
  
  @keyframes example {
    0% {transform: translateX(40px)}
    100% {transform: translateX(0%)}
  }