<div class="bg-img2 relative">
    <div class="">
      <div class="text-center absolute text-white w-full pstn">
        <h1 class="md:text-7xl font-bold text-2xl leading-normal">Accommodation</h1>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Home/</a>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Gallery</a>
        
      </div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class=" md:mt-20 mt-12">
        <img src="assets/img/download (1).webp" class="flex justify-center mx-auto">
        <h1 class="md:text-5xl text-2xl font-bold flex justify-center md:mb-20 mb-12">Our Gallery </h1>
      </div>

      <div class="flex md:flex-row flex-col justify-between md:space-x-4 w-full  ">
        <div class="">
            <img src="assets/img/xg1.webp" class="w-full mb-2" >
            <img src="assets/img/xg4.webp" class="w-full mb-2" >
            <img src="assets/img/xg3.webp" class="w-full" >
            
        </div>

        <div>
            <img src="assets/img/xg6.png" class="w-full mb-2">
            <img src="assets/img/xg7.png" class="w-full mb-2">
            <img src="assets/img/xg1.webp"class="w-full" >
        </div>
        <div>
            <img src="assets/img/xg3.webp"class="w-full mb-2">
            <img src="assets/img/xg7.png"class="w-full mb-2">
            <img src="assets/img/xg4.webp"class="w-full" >
        </div>
        <div>
            
        </div>

      </div>
  </div>
