<div class="bg-img2 relative">
    <div class="">
      <div class="text-center absolute text-white w-full pstn">
        <h1 class="md:text-7xl font-bold text-2xl leading-normal">Contact</h1>
        <a class="leading-snug  hover:text-[rgb(204,167,114)]" routerLink="/">Home/</a>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Contact</a>
        
      </div>
    </div>
  </div>

  <div class="container mx-auto  md:mt-20 mt-12">
    <div class="flex md:flex-row flex-col justify-between ">
        <div class="md:w-1/4 flex flex-col justify-center items-left mx-8 ">
            <div class="flex flex-row space-x-4  ">
                <div>
                    <i class="fa fa-map-marker text-2xl text-[rgb(204,167,114)]" ></i>
                </div>
                <div>
                    <h4 class="font-bold">California United States</h4>
                    <p class="text-sm text-slate-600 mb-3">Santa monica bullevard</p>
                </div>
            </div>
            <div class="flex flex-row space-x-4">
                <div>
                    <i class="fa fa-phone text-2xl text-[rgb(204,167,114)]"></i>
                </div>
                <div>
                    <h4 class="font-bold">00 (440) 9865 562</h4>
                    <p class="text-sm text-slate-600 mb-3">Mon to Fri 9am to 6pm</p>
                </div>
            </div>
            <div class="flex flex-row space-x-4">
                <div>
                    <i class="fa fa-envelope text-[rgb(204,167,114)]"></i>
                </div>
                <div>
                    <h4 class="font-bold">support@seaplace.com</h4>
                    <p class="text-sm text-slate-600 mb-2">Send us your query anytime!</p>
                </div>
            </div>
        </div>
        
             <form class="md:w-1/3 w-4/5 mt-3 mx-auto">
                <div><input type="text" placeholder="Enter your name" class=" mb-3 appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"></div>
                <div> <input type="email" placeholder="Enter your email"  class=" mb-3 appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"></div>
                <div> <input type="text" placeholder="Enter Subject"  class=" appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-[rgb(204,167,114)]"></div>
            </form>
        
            <div class="md:w-1/3 mt-3 w-4/5 mx-8">
                <div class="">
                <textarea class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="exampleFormControlTextarea1" rows="5" placeholder="Your message"></textarea>
                </div>
                <div>
                    <button class="md:mt-12 mt-2  hover:bg-white bg-[rgb(204,167,114)]  text-black-500 font-semibold hover:text-black py-2 px-6 border border-[rgb(204,167,114)] hover:border-[rgb(204,167,114)] rounded">Submit</button>
                </div>
              </div>
    </div>
</div>
