<div class="bg-img2 relative">
    <div class="">
      <div class="text-center absolute text-white w-full pstn">
        <h1 class="md:text-7xl font-bold text-2xl leading-normal">Our Blog </h1>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Home/</a>
        <a class="leading-snug hover:text-[rgb(204,167,114)]" routerLink="/">Blog</a>
        
      </div>
    </div>
  </div>
  <div class="container mx-auto md:mt-20 mt-12">
    <div class="flex md:flex-row flex-col justify-between md:space-x-4   ">
        <div class="bg-blog md:w-1/3 mb-3 text-white  text-center">
            <div class="md:w-11/12 w-9/12 md:h-36 h-32 bg-black hover:bg-[rgb(204,167,114)] p-5 mx-auto mt-9 opacity-80">
                <h1 class=" font-bold md:text-2xl mb-3">SOCIAL LIFE</h1>
                <hr class="w-9/12 mx-auto">
                <h4 class="mt-3">Enjoy your social life together</h4>
            </div>
        </div>
        <div class="bg-blog2 md:w-1/3 text-white mb-3 text-center">
            <div class="md:w-11/12 md:h-36 w-9/12 bg-black hover:bg-[rgb(204,167,114)] p-5 mx-auto mt-9 opacity-80">
                <h1 class=" font-bold mb-3 md:text-2xl">POLITICS</h1>
                <hr class="w-9/12 mx-auto">
                <h4 class="mt-3">Be a part of politics</h4>
            </div>
        </div>
        <div class="bg-blog3 md:w-1/3 text-white text-center">
            <div class="md:w-11/12 md:h-36 w-9/12 bg-black hover:bg-[rgb(204,167,114)] p-5 mx-auto mt-9 opacity-80">
                <h1 class=" font-bold md:text-2xl mb-3">FOOD</h1>
                <hr class="w-9/12 mx-auto">
                <h4 class="mt-3" >Let the food be finished</h4>
            </div>
        </div>
    </div>
  </div>
